h1{
    color: blue;
    text-align: center;
}
button{
    color: grey;
    display: block;
    margin: 0 auto;

}
section{
    text-align: center;
}
*{
    background-color: beige;
}
button:hover{
    background-color: green;
    color: aliceblue;
}
