img{
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;

}
h4{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

div{
    text-align: center;
}

p{
    text-align: center;
}